provider = "keycloak-oidc"
provider_display_name = "Keycloak"

http_address = "127.0.0.1:4180"

oidc_issuer_url = "https://{{ auth_host }}/realms/{{ keycloak_realm }}"

client_id = "oauth2-proxy"
client_secret = "{{ oauth2_proxy_client_secret }}"

redirect_url = "https://{{ app_host }}/oauth2/callback"

scope = "openid profile email"

email_domains = [
  "*"
]

allowed_roles = [
  "site-user"
]

code_challenge_method = "S256"

upstreams = [
  "static://202"
]

reverse_proxy = true

trusted_proxy_ips = [
  "127.0.0.1/32"
]

whitelist_domains = [
  "{{ app_host }}"
]

cookie_secure = true
cookie_httponly = true
cookie_samesite = "lax"

skip_provider_button = true