services:
  keycloak:
    image: quay.io/keycloak/keycloak:26.7.0
    container_name: keycloak
    restart: unless-stopped

    command:
      - start-dev
      - --import-realm

    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "{{ keycloak_admin_username }}"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "{{ keycloak_admin_password }}"
    
      KC_HOSTNAME: "https://{{ auth_host }}"
      KC_PROXY_HEADERS: "xforwarded"
    
      OAUTH2_PROXY_CLIENT_SECRET: "{{ oauth2_proxy_client_secret }}"

    ports:
      - "127.0.0.1:8080:8080"

    volumes:
      - /opt/keycloak/import:/opt/keycloak/data/import:ro